.input-box {
  position: relative;
  flex-grow: 1;
}

.input {
  display: block;
  width: 100%;
  font-family: inherit;
  border: none;
  padding: 1.5rem;
  border-bottom: 3px solid transparent;
  border-radius: $border-radius-small;
  font-size: $default-font-size;
  position: relative;
  z-index: 2;

  // &:not(:last-child) {
  //   margin-bottom: 3.5rem;
  // }

  &:focus {
    outline: none;
    box-shadow: 0 1.5rem 2rem rgba($color-black, .1);
    border-bottom: 3px solid $color-success;
  }

  &:focus:invalid {
    border-bottom: 3px solid $color-error;
  }

  &::-webkit-input-placeholder {
    color: $color-grey-dark-2;
  }

  &__label {
    font-size: 1.3rem;
    position: absolute;
    left: 1rem;
    top: 0;
    transition: all .4s;
    transform: translateY(-2.4rem);
  }

  &:placeholder-shown+&__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(0rem);
  }

  &--textarea {
    height: 30rem;
    font-family: inherit;
    position: relative;
    z-index: 1;
    margin-top: 1.5rem;
  }

  &--calories {
    position: relative;
    width: 15rem;
    z-index: 2;
  }

}