@keyframes openNavigation {
  0% {
    transform: translateX(-15rem);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes closeNavigation {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-15rem);
  }
}