.home {
  width: 100%;
  min-height: 100vh;
  position: relative;
  background-image: linear-gradient(to bottom, rgba($color-primary-light, .6), rgba($color-primary-dark, .6)), url(../../../assets/imgs/ingredients.jpg);
  background-size: cover;
  background-position: center;


  @include respond(tab-land) {
    background-image: linear-gradient(105deg,
        rgba($color-primary-dark, .9) 0%,
        rgba($color-primary-dark, .9) 45%,
        transparent 45%), url(../../../assets/imgs/ingredients.jpg);
  }

  &__text-box {
    position: absolute;
    top: 45%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;

    @include respond(tab-land) {
      text-align: left;
      padding-left: 10rem;
    }
  }
}