// COLORS
$color-primary: #5C8385;
$color-primary-light: #92ACAD;
$color-primary-dark: #335F61;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #ddd;

$color-grey-dark-1: #999;
$color-grey-dark-2: #777;
$color-grey-dark-3: #333;
$color-white: #fff;
$color-black: #000;

$color-error: red;
$color-success: #55c57a;

// FONT
$default-font-size: 1.6rem;

// GRID
$grid-width: 114rem;
$guetter-vertical: 8rem;
$guetter-vertical-small: 6rem;
$guetter-horizontal: 6rem;

// BORDER RADIUS
$border-radius-small: 3px;

// NAVIGATION
$nav-width: 20rem;
$nav-translateX: 15rem;