.link {

  &:link,
  &:visited {
    text-decoration: none;
    color: $color-black;
    font-size: $default-font-size;
  }

  &--logout {
    padding: .5rem 2rem;
    display: inline-block;
    color: $color-primary-dark;
    position: relative;
    margin: 0 1rem;
    transition: all .4s;
    overflow: hidden;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      right: 0;
      height: 2px;
      width: 100%;
      background-color: $color-primary-light;
      transform: translateX(-10rem);
      transition: all .4s;
    }

    &:hover::after {
      transform: translateX(0);
    }
  }
}