.recepies-list {
  min-height: 100vh;
  width: 100%;
  // background-image: url(../../../assets/imgs/ingredients.jpg);
  // background-repeat: no-repeat;
  // background-attachment: fixed;
  // background-position: center;

  &__list {
    list-style: none;
    position: relative;
  }

  &__search {
    position: relative;
    padding-bottom: 10rem;

    @include respond(phone) {
      padding-bottom: 5rem;
    }
  }
}