.recepies-list {
  background-color: $color-grey-light-2;
  height: 200vh;
  width: 100%;

  &__list {
    list-style: none;
    position: relative;
  }

  &__search {
    position: relative;
    padding-bottom: 9rem;

    @include respond(phone) {
      padding-bottom: 5rem;
    }
  }
}